p {
	font-family: 'Arbutus Slab', serif;
	font-size: 14px;
	font-weight: normal;
}

h1 {
	font-family: 'Arbutus Slab', serif;
	font-size: 48px;
	text-align: center;
	color: #574D37;
	letter-spacing: -1px;
}

form {
	text-align: center;
}

label {
	font-family: 'Arbutus Slab', serif;
	font-size: 18px;
	color: #F93;
}

circle {
	fill: #9C3;
}

#name {
	border: 1px solid #E6DFD3;
	padding: 5px;
	margin: 10px;
	font-size: 14px;
	color: #574D37;
}

#submit {
	background-color: #F93;
	padding: 5px;
	color: white;
	font-size: 14px;
}

.gallery {
	text-align: center;
	margin-top: 10px;
}

.link {
      stroke: #ddd;
      fill: none;
}

.text {
	font-family: Helvetica-Neue, Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	color: #574D37;
}