h1 {
	font-family: Helvetica-Neue, Helvetica, sans-serif;
	font-weight: lighter;
	letter-spacing: 1px;
	text-align: center;
	color: #574D37;

}

form {
	text-align: center;
}

label {
}

#name {
	border: 1px solid #E6DFD3;
	padding: 5px;
	margin: 10px;
	font-size: 14px;
	color: #574D37;
}

.gallery {
	text-align: center;
}