<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="http://d3js.org/d3.v2.js"></script>
		<script src="../static/tree.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/style.css"/>
		<link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'/>
	</head>
	<body>
		<h1>PairWise</h1>
		<form id="form">
			<label for="name">Full Name: </label>
			<input id="name" type="text" name="fname">
			<input type="submit" id="submit" value="GO"></br>
		</form>
		<h2 id="top"></h2>
		<div class="gallery" id='chart'></div>
	</body>	
</html> 