<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>

<h1>Make me a match!</h1>
<form method="post">
  Full Name: <input id="name" type="text" value="Robert Tunney" name="fname"><br>
  <!-- <input type="submit" id="submit" value="Submit"><br> -->
</form>
<button id="button" type="button">Submit</button>

<ul id="kw_list"></ul>
<!--<script src="master_list.js"> </script>-->
<script src="../static/display_keywords.js"></script>

</body>	
</html> 